<!DOCTYPE html>
<html>
<head>

</head>
<h1>FILMY API</h1>
<body>

  <p>


    Sign up
    http --verbose POST :5000/signin email=gonzalo.segura3@gmail.com password=superpassword



    Authorize a user
    http --verbose GET :5000/me 'authorization:eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJfX3YiOjAsInBhc3N3b3JkIjoic3VwZXJwYXNzd29yZCIsImVtYWlsIjoiZ29uemFsby5zZWd1cmEzQGdtYWlsLmNvbSIsIl9pZCI6IjU2NThmNjExMDVlZWU5ZTg0YWRkN2I0MiIsIm1vdmllcyI6W119.9NHYOAiWhXIXopPX2ghsRyHvMlP5rpW9G4h7Iab9wKM'


    Add movies
    http --verbose POST :5000/api/films 'authorization:eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJfX3YiOjAsInBhc3N3b3JkIjoic3VwZXJwYXNzd29yZCIsImVtYWlsIjoiZ29uemFsby5zZWd1cmEzQGdtYWlsLmNvbSIsIl9pZCI6IjU2M2Y4ODIyNmM3YTIwN2EwOTdmNjNmZSIsIm1vdmllcyI6W119.H7ZBtmjDOhzsZW0Lyjga7dIfiVohWc0d_PPxlEjJZR0' year=1234 rated=123 released=123 runtime=123 title=pulp

  </p>

<strong>version: 0.9.2</strong>

</body>
</html>
